@font-face {
    font-family: 'Open Sans' ;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Open Sans' ;
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans' ;
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans' ;
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-800.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin_cyrillic-800.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans' ;
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-italic.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-italic.woff') format('woff');
}

:root{
    scroll-behavior: smooth;
}

.page {
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 100 px;
}

button {cursor: pointer;}

/*Header*/
.page__inner{
    display: block;
    width: 100%;
}

.page__inner-intro{
    padding-top: 29px;
}

.page__inner_grey{
   background-color: #F6F2F2;
}

.page_inner_dark{
    background-color: #2c2c2c;

}

.page__inner_section{
    padding: 102px 0 110px;
}

.page_inner_dark-2{
    background-color: #313030;

}

.page__header{
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    max-width: 1249px;
    min-height: 89px;
    margin: 0 auto;
    background-color:rgb(0, 0, 0, 0.8);
}

.site-menu__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    min-height: 89px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px){
    .site-menu__list{
        justify-content: center;
    }
}

.site-menu__item{
    display: flex;

}

.site-menu{
    margin-left: -30px;
}

@media screen and (max-width: 500px){
    .site-menu{
        margin-left: initial; 
}}


.site-menu__link{
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #E0E0E0;
    font-family:'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.site-menu__link_active{
    background-color:#FF3F40;
}

.site-menu__link:hover{
    background-color:#FF3F40;
}

/*main*/
/*intro*/
.intro{
    display: flex;
    justify-content: space-between;
    max-width: 1249px;
    margin: 0 auto;
}

@media screen and (max-width:1240px) {
    .intro {
        flex-wrap: nowrap;
    }
}

.intro__info{
    max-width: 595px;
    margin-right: initial;
} 

@media screen and (min-width: 800px) 
and (max-width: 1240px){
    .intro__info {width: 50%}
}

@media screen and (max-width: 800px){
    .intro__info{
        width: 100%;
        margin-bottom: 80px;
    }
}

.intro__heading{
    font-family: 'Open Sans' sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
    margin-top: -15px;
    
}

.intro__span_special{
    letter-spacing: 6px;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.intro__text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: justify;
    margin: 0;
    margin-bottom: 58px;
    max-width: 546px;
       
}

.action__link{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 227px;
    min-height: 55px;
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5em 1em;
}

.action__link_red-full{
    background-color:#FF2D2D;
    color: #ffffff;
}

.intro__video{
    max-width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px 0px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width: 1240px){
    .intro__video{ width: 50%;}
}

@media screen and (max-width: 800px){
    .intro__video{
        width: 100%;
        margin-bottom: 80px;
    }
}

/*services*/
.services{
    display: flex;
    justify-content: space-between;
    max-width: 1249px;
    margin: 0 auto;
    padding: 107px 0 100px;
    border-bottom: 2px solid #ECECEC;
}

.services__info{
    max-width: 539px;
}

.services__heading{
    font-family: 'Open Sans' sans-serif;
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin: 0;
    margin-bottom: 50px;
        
}

.services__about{
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 64px;

}

.action__link_red-border{
    color: #FF2D2D;
    background-color: rgb(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
}

.services__items{
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
    justify-content: end;
    
                
}

.services__item{
    width: 50%;
    margin-bottom: 53px;
   
}

.services__item-manag::before{
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background-image: url(../img/combined_gear.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item-des::before{
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background-image: url(../img/combined_pen.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item-logo::before{
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background-image: url(../img/combined_diamond.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item-anim::before{
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background-image: url(../img/combined_car.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__title{
    font-family: 'Open Sans' sans-serif;
    font-size: 24px;
    line-height: 1.2px;
    font-weight: 600;
    letter-spacing: 0.27px;
}

.services__text{
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    max-width: 286px;
}

/*features*/
.feature{
    max-width: 1249px;
    margin: 0 auto;
    padding: 107px 0 70px;
}

.feature__header{
    margin-bottom: 88px;
}

.feature__heading{
    margin: 0;
    margin-bottom: 28.5px;
    font-family: 'Open Sans' sans-serif;
    font-size: 42px;
    line-height: 0px;
    letter-spacing: 0.3834px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.feature__about{
    max-width: 537px;
    font-family: 'OpenSans';
    font-size: 15.9953px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 34.5px;
       
}

.hor__line{
    width: 130px;
    height: 2px;
    background-color: rgba(255, 45, 45, 1);
    border: none;
}

.hor__line_center{
    margin: 0 auto;}

.feature__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}

.filter__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    margin: 0;
    padding: 0;

}

.filter__link{
    font-family: 'Open Sans' sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    align-items: center;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    
}

.filter__link_active{
    color: #FF2D2D;
}

.filter__link:hover{
    color: #FF2D2D;
}

.feature__products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature__product{
    max-width: 297px;
    object-fit: cover;
    object-position: 0 50%;

}

/*team*/
.team{
    max-width: 1249px;
    margin: 0 auto;
    padding: 68px 0 53px;
    text-align: left;
}

.team__header{
    margin-bottom: 70px;
}

.team__heading{
    font-family: 'Open Sans' sans-serif;
    font-size: 42px;
    line-height: 0px;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
    margin-bottom: 35px;
}

.team__about{
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 28px;
    max-width: 478.85px;
    margin: 0;
    margin-bottom: 38px;
    
}

.hor__line_left{
    margin: 0;}

.team__members{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.team__inner{
    display: contents;
    flex-direction: column;
    
}

@supports (display: contents) {
  .team__inner{display: contents;}}

@supports (grid-template-columns: subgrid) {
.team__inner{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: 1/3;
    grid-column: 2/3;}
}

.team__main{
    padding-left: 78px ;
    padding-top: 15px;
}

.team__lead-name{
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Open Sans' sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.275265px;
    text-transform: uppercase;
}

.team__lead-about{
    margin-top: 32px;
    margin-bottom: 42px;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    max-width: 663px;
}

.team__lead-photo{
   background-color: #FF3F40;
   object-fit: contain;
   object-position: bottom;
   margin: 0;
   grid-column: 1/2;
   grid-row: 1/3;
}

.team__social{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.team__social_link{
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    font-style: italic;
    text-decoration: none;
    color: #000000;
}

.team__social_link:hover{
    text-decoration: underline;
}

.team__others{
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 78px;
    
}

.team__other{
    position: relative;
}

.team__other-photo{
    background-color: #FF3F40;
    display: block;
}

.team__other-name{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    letter-spacing: 0.16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px 0;
}

.team__other:hover > .team__other-name{
   display: block;
}

/*subscribe*/
.subscribe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1249px;
    margin: 0 auto;
    padding: 150px 0 140px;
    
}

.subscribe__heading{
    font-family: 'Open Sans' sans-serif;
    font-size: 42px;
    line-height: 1.16;
    font-weight: bold;
    letter-spacing: 1.05px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 17px;
}

.subscribe__about{
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 60px;
    margin-right: 300px;
    margin-left: 300px;
    
}

.suscribe__form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 22px;
}

.subscribe__input{
    max-width: 521px;
    height: 79px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 36px;
    border: none;
   
}

.subscribe__button{
    width: 214px;
    height: 79px;
    border-radius: 5px;
    background-color: #FF2D2D;
    font-family: 'Open Sans' sans-serif sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border: none;
   
}

/*get in touch*/
.touch{
    max-width: 1249px;
    margin: 0 auto;
    padding: 104px 0 107px;
}

.touch__header{
    margin-bottom: 70px;
    max-width: 752px;
}

.touch__heading{
    font-family: 'Open Sans' sans-serif;
    font-size: 42px;
    line-height: 0px;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    line-height: 1.75;
    font-weight: bold;
    margin: 0;
    margin-bottom: 35px;
      
}

.touch__about{
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 38px;
}

.touch__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.touch__form{
    width: 731px;
    display: flex;
    flex-wrap: wrap;
}
   
.touch__name{
    width: 339px;
    height: 69px;
    background: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    padding-left: 54px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-bottom: 50px;
}

.touch__name::placeholder{
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    color: #000000;
}

.touch__email{
    width: 339px;
    height: 69px;
    border: none;
    background: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 48px;
    box-sizing: border-box;
    margin-bottom: 54px;
    font-family: 'Open Sans' sans-serif;
    font-size: 15.9134px;
    line-height: 28px;
}

.touch__textarea{
    resize: none;
    width: 731px;
    height: 249px;
    border: none;
    background: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 51px;
    padding-top: 31px;
    box-sizing: border-box;
}

.touch__button{
    width: 728px;
    height: 72px;
    background-color: #FF3B3B;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
}

.touch__contacts{
    color: #FFFFFF;
    background-color: rgba(45, 45, 45, 1);
    width: 518px;
    padding: 140px 183px 140px 80px;
    box-sizing: border-box;
   
}

.contacts__heading{
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

.contacts__address{
    font-family: 'Open Sans' sans-serif;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 27px;
    line-height: 1.75;
}

.contacts__email{
    display: block;
    font-family: 'Open Sans' sans-serif;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.75;
}

.contacts__tel{
    display: block;
    font-family: 'Open Sans' sans-serif;
    color: #FFFFFF;
    margin: 0;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1583px;
    min-height: 111px;
    margin: 0 auto;
    padding: 52px 167px 33px 169px;
    box-sizing: border-box;
}

.footer__text{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.62;
    color: #B8B8B8;
    margin: 0;
}

.social{
    display: flex;
    gap: 18px;
}
 